@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,800;1,400&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  
  // height: 100%;
  height: -webkit-fill-available;
  
}

#root {
  // margin: 0 0.5em;
  height: 100%;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* MUI classes */
.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiAutocomplete-inputRoot.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0;
}

.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0;
}

/* App classes */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0 0.75em;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 4em;
  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.work-tile {
  &__active {
    width: 100%;
    background-color: #aaaaaa;
    margin-bottom: 1em;
    cursor: pointer;
    position: relative;
    &__progress-bar {
      background-color: #000000;
      width: 0%;
      height: 3em;
      transition-timing-function: 'linear';
    }
  }
  &__inactive {
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
    border: 1px solid #000000;
  }
  &__text {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 12px;
    margin-left: 40px;
    color: white;
  }
}

.play-svg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 12px;
  margin-left: 8px;
}

.skipped-text {
  letter-spacing: 2px;
  font-weight: 500;
}

.answer-input {
  margin-top: auto;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-bar {
  display: flex;
  width: 100%;
  // background-color: cyan;
  justify-content: space-between;
}

button {
  // background-color: red;
  border: none;
  padding: 1em 2em;
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
  &.btn-mid {
    background-color: #aaaaaa;
  }
  &.btn-full {
    background-color: #000000;
  }
}